body {
    margin: 0;
}

.record-page {
    background-image: url("record.png");
    background-repeat: repeat;
}

.record-page-header {
    background-color: slateblue;
    color: white;
    text-align: center;
}

.record-page-main {
    background-color: lightgrey;
    padding: 1em;
}